@property --rainbow-prev {
    syntax: "<color>";
    inherits: true;
    initial-value: #009ff7;
}

@property --rainbow-next {
    syntax: "<color>";
    inherits: true;
    initial-value: #c76dd1;
}

@keyframes rainbow {
    0%,
    100% {
        --rainbow-prev: #009ff7;
        --rainbow-next: #c76dd1;
    }
    20% {
        --rainbow-prev: #c76dd1;
        --rainbow-next: #eb6552;
    }
    40% {
        --rainbow-prev: #eb6552;
        --rainbow-next: #8b9715;
    }
    60% {
        --rainbow-prev: #8b9715;
        --rainbow-next: #00a98e;
    }
    80% {
        --rainbow-prev: #00a98e;
        --rainbow-next: #009ff7;
    }
}

:root {
    animation: rainbow 8s linear infinite;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--rainbow-prev) 30%, var(--rainbow-next));
}
