/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

@use "custom-blocks";

 :root {
  --vp-c-default-1: #515C67FF;
  --vp-c-default-2: #414853FF;
  --vp-c-default-3: #32363FFF;
  --vp-c-default-soft: var(--vp-c-gray-soft);

   --vp-c-bg: #16161a;
   --vp-c-bg-alt: #101013;
   --vp-c-bg-elv: #202127FF;
   --vp-c-bg-soft: #1d1d23;

  --vp-c-brand-1: #78C287;
  --vp-c-brand-2: #40a64e;
  --vp-c-brand-3: #2c8038;
  --vp-c-brand-soft: #49B85844;

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
            30deg,
            #8DC69B 10%,
            #3CB64D
    );

    --vp-home-hero-image-background-image: linear-gradient(
            -45deg,
            #30504b 50%,
            #35493b 50%
    );
    --vp-home-hero-image-filter: blur(44px);
}


/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
  --vp-border-radius: 0.5rem;
  --vp-anim-dur: 150ms;
}

.VPFeatures .emoji {
    font-size: 20px;
    padding: 4px;
    border-radius: 5px;
    margin-right: 5px;
    background: var(--vp-c-default-soft);
}

.brand-button {
  outline: var(--vp-c-brand-2) 2px solid;
  box-sizing: border-box !important;
  background: var(--vp-c-brand-soft);
  transition: 150ms ease-in-out all !important;
  &:hover {
    outline-offset: 2px;
    background: var(--vp-c-brand-3);
  }
  &:active {
    background: var(--vp-c-brand-1);
  }
}

.switch {

  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;

  button {
    background: var(--vp-c-bg-elv);
    width: 5rem;
    border-radius: 4px;
    font-size: 14px;
    font-family: "JetBrains Mono", monospace;
    padding: 0.25rem 0.5rem;
    transition: 150ms all;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid var(--vp-c-divider);
    }
  }
  .selected {
    border: 1px solid var(--vp-c-brand-3) !important;
  }
}

/* VPFeatures feature card hover animation */
.VPFeatures .items .item {
  transition: transform 0.3s;
}

.VPFeatures .items .item:hover {
  transform: translateY(-5px);
}