* {
    &.status-dev {
        --status-color-1: var(--vp-c-indigo-1);
        --status-color-2: var(--vp-c-indigo-2);
        --status-color-3: var(--vp-c-indigo-3);
        --status-color-soft: var(--vp-c-indigo-soft);
    }
    &.status-stable {
        --status-color-1: var(--vp-c-success-1);
        --status-color-2: var(--vp-c-success-2);
        --status-color-3: var(--vp-c-success-3);
        --status-color-soft: var(--vp-c-success-soft);
    }
    &.status-eol {
        --status-color-1: var(--vp-c-warning-1);
        --status-color-2: var(--vp-c-warning-2);
        --status-color-3: var(--vp-c-warning-3);
        --status-color-soft: var(--vp-c-warning-soft);
    }
    &.status-dead {
        --status-color-1: var(--vp-c-danger-1);
        --status-color-2: var(--vp-c-danger-2);
        --status-color-3: var(--vp-c-danger-3);
        --status-color-soft: var(--vp-c-danger-soft);
    }
}
